@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'PpobjectSansR';
  src: url('/fonts/PpobjectSansR.woff2') format('woff2'),
       url('/fonts/PpobjectSansR.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Apply the font to the entire document */
body {
  font-family: 'PpobjectSansR', sans-serif;
}

/* Apply to specific elements */
h1, h2, h3, p, a {
  font-family: 'PpobjectSansR', sans-serif;
}
